{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}

{% set nb=1 %}

<h1>Les stages organisés pour la formation '{{ laF.Titre }}' sont:  </h1>




  {% for unS in lesStages %}

<a href="{{ path('LamMdlBundle_formationsport') }}"> Retour </a>
<TABLE id="tabSport" border="1" WIDTH="100%" > 
      <TR> 
<TH><h2>Stage {{nb}}</TH> 
     {% set dateLimite=unS.Date|date('d-m-Y')%}
{% set dateActuel=date()%}      
{% if dateLimite< dateActuel %} 
       <TH> <input type="button" name="inscription" value="s'inscrire pour cette date" onclick="self.location.href=''" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> </TH></TR> 

             {%else%}
        <TH>Les inscriptions sont fermées pour cette formation.</TH></TR> 
             {%endif%}</h2></h2>
<TR><TD colspan="2">
Date: {{ unS.Date|date('d-m-Y') }}</br>
Horaire:  {{ unS.Horaire }}</br>       
Salle: {{ unS.Salle }}</br>

        {% set nbi=  (unS.intervenant|length)%}
        {% if nbi>1  %}
<p>Intervenants : Les docteurs :</p>
            {% else %}
<p>Intervenant : Le docteur :</p>
            {% endif %}

        {% for unI in unS.intervenant %}
<h3>- {{ unI.Prenom }} {{ unI.Nom }}</h3>
      {% endfor %}
  {% set nb=nb+1 %}
  {% endfor %}
</TD> 
  </TR> 
</TABLE> 


{% endblock %}
