{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}

{% set nb=1 %}

<h1>Les stages organisés pour la formation '{{ laF.Titre }}' sont:  </h1>




  {% for unS in lesStages %}

<a href="{{ path('LamMdlBundle_formationinformatique') }}"> Retour </a>
<TABLE id="tabInfo" border="1" WIDTH="100%" > 
    <TR> 
        <TH><h2>Stage {{nb}}</TH> 

{% set dateLimite=unS.DateLimite|date('d-m-Y')%}
{% set dateActuel=date()%} 
{%set placeRestante = laF.nbplace-unS.nbinscrit %}
{% if (dateLimite< dateActuel) and placeRestante != 0 %} 

        <TH>
        <form action="{{ path('LamMdlBundle_Form') }}" method="POST">
            
           
            <input type="hidden" value="{{unS.Id}}" name="idFormation">
             <input type="hidden" value="{{laF.id}}" name="fid">
            <input type="hidden" value="{{placeRestante}}" name="placeRestante">
            <input type="hidden" value="{{ laF.Titre }}" name="nomFormation">
            <input type="hidden" value="{{ unS.Date|date('d-m-Y') }}" name="dateFormation">
            <input type="submit" value="S'inscrire pour cette date" style="background-color:#3cb371" style="color:white" >
        </form> 
        Nombre de places restantes : {{ placeRestante }}</TH></TR>
             {%else%}
        <TH></br>Les inscriptions sont fermées pour cette formation.</TH></TR> 
             {%endif%}</h2>
    <TR><TD colspan="2">
            Date: {{ unS.Date|date('d-m-Y') }}</br>
            Horaire:  {{ unS.Horaire }}</br>       
            Date limite d'inscription: {{ unS.DateLimite|date('d-m-Y') }}</br>             
            Salle: {{ unS.Salle }}</br>
            Adresse: {{ unS.Adresse }}</br>
            Coût: {{ unS.Cout }}</br>
            Repas: {{ unS.Repas }}</br>


        {% set nbi=  (unS.intervenant|length)%}
        {% if nbi>1  %}
            <p>Les intervenants :</p>
            {% else %}
            <p>L'intervenant :</p>
            {% endif %}

        {% for unI in unS.Intervenant %}
            <h3>- {{ unI.Prenom }} {{ unI.Nom }}</h3>
      {% endfor %}
        </TD> 
    </TR> 
</TABLE> 
  {% set nb=nb+1 %}
  {% endfor %}

{% endblock %}
