{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}

{% set numFi=0 %}
{% set numO=0 %}

<p><a href="{{ path('LamMdlBundle_formationinformatique') }}"> Retour </a></p>

{% for unContenu in contenuformationinfo %}


{% if numFi != unContenu.toto   %}
{% set nom=asset('bundles/LamMdl/images/' ~ unContenu.logo )%}
<img src="{{ nom }}" alt="logo" width="130" height="100" />
    <p> <h2>Nom de la formation : </h2>{{  unContenu.titre }} </p>
       <p> <h3>Objectif : </h3>{{  unContenu.objectif }} </p>
          <p> <h3>Public : </h3>{{  unContenu.public }} </p>
             <p> <h3>Prerequis : </h3>{{  unContenu.prerequis }} </p>
   <h3>Nombre de places : {{  unContenu.nbplace }} </h3>
<h4>Descriptif:</h4>
    {% set numFi= unContenu.toto  %}
{% endif %}

    {% if numO != unContenu.ordre   %}
    <h5> {{  unContenu.ordre }} {{ unContenu.nomtheme }} </h5>
    {% set numO= unContenu.ordre  %}
{% endif %}
			     {% if unContenu.libelle != "" %}
		<h6>*  {{ unContenu.libelle }} </h6>
                {% endif %}
                  
	{% endfor %}


{% endblock %}
